#import <XCTest/XCTest.h>

@interface {{targetName}}Tests : XCTestCase
@end

@implementation {{targetName}}Tests

- (void)setUp {
    [super setUp];

    // Peform shared test setup here.
}

- (void)tearDown {
    // Peform shared test teardown here.

    [super tearDown];
}

- (void)test{{productType}} {
    // Write your test here.
}

@end
